@model IEnumerable<BeerPack.Models.Beer>

@{
    ViewBag.Title = "List";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1 style="text-align:center">Craft Beers</h1>
            <br />
            @foreach (var product in Model)
            {
                <div class="col-xs-4">
                    <div class="well">
                        <h3><strong>@product.Name</strong></h3>
                        <img class="img-rounded img-responsive" src="@product.Image" />
                        <p>@product.Description</p>
                        <p>@((product.Price ?? 0).ToString("C"))</p>                       
                        <div>
                        <button> @Html.ActionLink(product.Name, "Index", new { ID = product.BeerID })</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
