<!doctype html>
<html lang="en">

<head>
    <title>Beer Pack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/beerpack.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#">BeerPack</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Home<span class="sr-only"></span></a></li>
                    <li><a href="/home/about">About Us</a></li>
                    <li><a href="/giftsets">Gift Sets</a></li>
                    <li class="dropdown">
                        <a href="beerstyles.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Beer Styles <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ales", "Index", "Beer", new { id = "Ales" }, null)</li>
                            <li>@Html.ActionLink("IPA's", "Index", "Beer", new { id = "Ipa's" }, null)</li>
                            <li>@Html.ActionLink("Lagers", "Index", "Beer", new { id = "Lagers" }, null)</li>
                            <li>@Html.ActionLink("Pilsners", "Index", "Beer", new { id = "Pilsners" }, null)</li>
                            <li>@Html.ActionLink("Porters", "Index", "Beer", new { id = "Porters" }, null)</li>                       
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span>Cart<span class="badge">1</span></a></li>
                </ul>

            </div>
        </div>

    </nav>
    <div id="wrapper">
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="jumbotron">
                <small><i>Copyright &copy; 2018 Beer Pack</i></small>
                <br>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/angular.js"></script>
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>

        @RenderSection("scripts", required: false)
    </div>
    </div>
</body>

</html>
